<div class="dashboard-bg" style="background-image: url('./assets/test-dashboard-img.jpg');">
  
  
      <fieldset class="scheduler-border">
          <legend class="scheduler-border">List Of All Tests</legend>
          <p-dataList [value]="allTest" [paginator]="true" [rows]="5">
              <!-- <p-header>
                  List of All Test
              </p-header> -->
              <ng-template let-data pTemplate="item">
                  <div class="ui-g ui-fluid car-item" 
                    
                       (click)='getTestDetails(data._id)'>
                      <div class="ui-g-12 ui-md-3" style="text-align:center">
                          <!-- <img src="assets/showcase/images/demo/car/{{car.brand}}.png"> -->
                      </div>
                      <div class="ui-g-12 ui-md-9 car-details">
                          <div class="ui-g">
                              <div class="ui-g-2 ui-sm-6">Name: </div>
                              <div class="ui-g-10 ui-sm-6">{{data.name}}</div>
                              
                              <div class="ui-g-2 ui-sm-6">Category: </div>
                              <div class="ui-g-10 ui-sm-6">{{data.category}}</div>
                              
                              <div class="ui-g-2 ui-sm-6">Score: </div>
                              <div class="ui-g-10 ui-sm-6">{{data.maxscore}}</div>
                              
                              <div class="ui-g-2 ui-sm-6">Time : </div>
                              <div class="ui-g-10 ui-sm-6">{{data.testduration}}</div>
                          </div>
                      </div>
                  </div>
              </ng-template>
          </p-dataList>   
          <!-- <div class="row">
              <div class="col-md-4" *ngFor="let data of allTest">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h3 class="panel-title">Take New Test</h3>
                      </div>
                      <div class="panel-body">
                        <p>
                          Name:  {{data.name}}
                        </p>
                        <p>
                          Level: {{data.category}}
                        </p>
                      </div>
                      <button style='width:100%' (click)='getTestDetails(data._id)' class="panel-footer">Next
                          <span class="glyphicon glyphicon-chevron-right"></span>
                      </button>
                  </div>
              </div>
          </div> -->
      </fieldset>
</div>
