.dashboard-bg {
    min-height: 500px; 
 
     /* Create the parallax scrolling effect */
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

.img-exam {
    width: 46%;
    margin-left: 30%;
    padding-top: 1em;
}
.hist-img{
    margin-left: 30%;
}
a,a:hover {
    color:black;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
}
