<nav class="navbar navbar-default header-div">
  <div class="container-fluid">
    <div class="navbar-header">
        <a routerLink="/" class="navbar-brand">ensenbleTest</a>
    </div>
    <button class='btn btn-primary col-md-1 col-md-offset-8' (click)='showTestDashboard()' style='margin-top:8px;'>Take Test</button>
    <div class="collapse navbar-collapse pull-right" >
      <ul class="nav navbar-nav">
           <li><a routerLink="/signup">Signup</a></li>
           <li><a routerLink="/login">Login</a></li>
        </ul>
    </div>

  </div>
</nav>