<div class="container-fluid" *ngIf='!showMsg'>
    <h3>Forgot Password?</h3>
    <div class="panel panel-default fpswd-div">
        <div class="panel-body">
            <form [formGroup]="forgotPswdForm" (ngSubmit)="onLoginSubmit()">
                <div class="row">
                    <div class="form-group col-md-8">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder='Enter your email' formControlName="email">
                    </div>
                </div>
                <button type="submit" style='padding:4px;' [disabled]=!forgotPswdForm.valid (click)='submitEmail()' class="col-md-4 btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<!-- <div *ngIf='showMsg' class="container-fluid success-msg">
    Your password has been reset successfully. Try login with new password
</div> -->
<div *ngIf='showMsg' class="container-fluid success-msg">
       Password reset link has been sent to your registered email id.
</div>