<div class="container-fluid" *ngIf='!showMsg'>
    <h3>Reset Your Password</h3>
    <div class="panel panel-default fpswd-div">
        <div class="panel-body">
            <form [formGroup]="resetPswdForm" (ngSubmit)="onLoginSubmit()">
                <div class="row">
                    <div class="form-group col-md-8">
                        <label for="email">New Password</label>
                        <input type="text" class="form-control" id="email" placeholder='Enter new password' formControlName="newPswd">
                    </div>
                    <div class="form-group col-md-8">
                        <label for="email">Re-Enter Password</label>
                        <input type="text" class="form-control" id="email" placeholder='Re enter your password' formControlName="rePswd">
                    </div>
                </div>
                <button type="submit" style='padding:4px;' [disabled]=!resetPswdForm.valid (click)='submitEmail()' class="col-md-4 btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<div *ngIf='showMsg' class="container-fluid success-msg">
    Your password has been reset successfully. Try login with new password
</div>