<div>
  <ul class="nav nav-tabs">
  
    <li role="presentation" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="test">Test</a>
    </li>
    <li role="presentation" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="userInfo">User</a>
    </li>
    <li role="presentation" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="create">CreateTest</a>
    </li>
  </ul>
</div>
<p>
  <router-outlet></router-outlet>
</p>