<div>
  <ul class="nav nav-tabs">
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" role="presentation">
      <a routerLink="/">Home</a>
    </li>
    <li role="presentation" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="test">Test</a>
    </li>
    <li role="presentation" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >
      <a routerLink="/dashboard">User</a>
    </li>
    <li role="presentation" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="create">CreateTest</a>
    </li>
  </ul>
</div>
<p>
  <router-outlet></router-outlet>
</p>
